<form [formGroup]="loginForm" (ngSubmit)="onLogin()"
      class="max-w-30rem mx-auto my-10 p-6 bg-white shadow-md border-round my-5">

  <h2 class="text-xl font-bold text-center text-blue-600">Login to Your Account</h2>

  <div>
    <input type="text" pInputText formControlName="email"
           class="p-inputtext-sm w-full text-gray-600 bg-transparent p-3 text-lg" placeholder="Enter your email" />
    <small class="text-red-500" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
      A valid email is required.
    </small>
  </div>

  <div>
    <input type="password" pInputText formControlName="password"
           class="p-inputtext-sm w-full text-gray-600 bg-transparent p-3 my-4 text-lg" placeholder="Enter your password" />
    <small class="text-red-500" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
      Password is required.
    </small>
  </div>

  <button pButton type="submit" class="w-full  bg-blue-500 text-white text-lg" [loading]="isLoading">
    Login
  </button>
</form>
<p-toast />