
<div class="bg-white text-gray-800 text-center p-6 md:p-16   min-h-screen space-y-6">
    <div class="w-5 mx-auto">
      <h1 class="text-3xl md:text-5xl font-extrabold mb-4 text-blue-800 text-center">
        <i class="pi pi-sun"></i> Welcome to AraMjb Event Center
      </h1>
  
      <p class="text-lg md:text-xl text-blue-400 mb-6 leading-relaxed">
        ✨ From elegant weddings to grand corporate functions AraMjb Event Center is your destination for 
        <strong>premium halls</strong>, <strong>seamless digital booking</strong>, and <strong>instant ticket access</strong>. Let us help make your event unforgettable.
      </p>

      <button pButton routerLink="/auth/signup" class="p-button-lg text-white bg-blue-500 text-lg">
        <i class="pi pi-calendar-plus mr-2"></i> Book an Event Now
      </button>
    </div>
  </div>
  