<div class="bg-white p-4 w-full">
  <p-table
    [value]="bookings"
    [paginator]="true"
    [rows]="5"
    responsiveLayout="scroll"
    class="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr class="text-xl">
        <th>ID</th>
        <th>Booked At</th>
        <th>Seat Number</th>
        <th>QR Code</th>
        <th>Event</th>
        <th>User</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-book>
      <tr class="text-lg">
        <td>{{ book.id }}</td>
        <td>{{ book.bookedAt | date }}</td>
        <td>{{ book.seatNumber }}</td>
        <td>{{ book.qrCode }}</td>
        <td>{{ book.events?.halls }}</td>
        <td>{{ book.users?.email }}</td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-sm p-button-warning mr-2 p-3"
            (click)="openEditDialog(book)"
          >
            Edit
          </button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-sm p-button-danger p-3 mt-2"
            (click)="deleteBooking(book.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
