<div class="bg-white max-w-30rem mx-auto p-8 my-8 text-primary">
<div class="flex justify-content-between">
    <a routerLink="all-bookings" (click)="showHide=false">All Books</a>
    <!-- <a routerLink="seat-layout" (click)="showHide=false">Check Seat</a> -->
    <a routerLink="event-management" (click)="showHide=false">Manage Events</a>
</div>
<div *ngIf="showHide">
    <h3>Welcome to Admin Section</h3>
    <p>Where you can perform admin tasks efficiently</p>
</div>
    <router-outlet></router-outlet>
</div>
