<div class="p-4 bg-blue-200 text-gray-500 border-round my-6">

  <h2 class="text-2xl font-semibold mb-4 text-blue-400 text-center">Manage Events</h2>

  <form [formGroup]="eventForm" (ngSubmit)="saveEvent()" class="text-lg text-gray-500">

    <div>
      <label>Location</label>
      <input pInputText type="text" formControlName="location" class="p-inputtext w-full bg-transparent text-lg" />
    </div>
    <div>
      <label>Date & Time</label>
      <input pInputText type="datetime-local" formControlName="dateTime" class="p-inputtext w-full bg-transparent text-lg" />
    </div>
    <div>
      <label>Hall Name</label>
      <input pInputText type="text" formControlName="halls" class="p-inputtext w-full bg-transparent text-lg" />
    </div>
    <div>
      <label>Total Seats</label>
      <input pInputText type="number" formControlName="totalSeat" class="p-inputtext w-full bg-transparent text-lg" />
    </div>
    <div>
      <label>Available Seats</label>
      <input pInputText type="number" formControlName="availableSeat" class="p-inputtext w-full bg-transparent text-lg" />
    </div>
    <div>
      <label>Description</label>
      <textarea pTextarea  formControlName="description" class="p-inputtextarea w-full bg-transparent text-lg"></textarea>
    </div>
    <div>
      <label>Image URL</label>
      <input pInputText type="text" formControlName="imageUrl" class="p-inputtext w-full bg-transparent text-lg" />
    </div>

    <div>
      <button type="submit" class="bg-blue-500 p-4 border-round w-full my-3" [disabled]="eventForm.invalid">
        {{ editingEventId ? 'Update' : 'Create' }} Event
      </button>
      <button
        type="button"
        class="p-button p-button-secondary md:ml-2 w-full"
        (click)="cancelEdit()"
        *ngIf="editingEventId"
      >
        Cancel
      </button>
    </div>

  </form>

  <hr class="my-6" />

  <p-table [value]="events" class="p-datatable-sm p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr class="text-2xl">
        <th>ID</th>
        <th>Location</th>
        <th>Date</th>
        <th>Seats</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-event>
      <tr class="text-lg">
        <td>{{ event.id }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.dateTime | date: 'short' }}</td>
        <td>{{ event.availableSeat }} / {{ event.totalSeat }}</td>
        <td>
          <button
            class="p-button p-button-sm p-button-warning mr-2"
            (click)="editEvent(event)"
          >
            Edit
          </button>
          <button
            class="p-button p-button-sm p-button-danger md:my-0 my-2"
            (click)="deleteEvent(event.id!)"
          >
            Delete
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
